<!DOCTYPE html>
<html lang="en">
<%- include("header") -%>
<body>
    <h2>this is about page.</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam dolorum laudantium, consectetur magni quo repudiandae blanditiis aut iure?</p>
</body>
<%- include("footer") -%>

</html>
